@use '../../../styles/variables' as v;

header {
  height: 64px;
  background-color: v.$color-green;
  display: flex;
  gap: v.$gutter;

  h1 {
    font-size: 1.5rem;
    margin: auto 0;
  }

  img {
    height: 100%;
    width: auto;
    mix-blend-mode: darken;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  a:nth-last-child(1),
  button {
    margin-left: auto;

    img {
      padding: v.$gutter;
    }
  }
}