$color-green: #13DC94;
$color-dark-green: #0C6C4A;
$color-red: #CD1637;

$color-light: #EFEFEF;
$color-lighter: #F5F5F5;
$color-lightest: #fff;

$color-dark: #7B7B7B;
$color-darker: #4F4F4F;
$color-darkest: #000000;

$font-sans: 'Roboto', sans-serif;

$gutter: 1rem;